<!DOCTYPE html>
<html lang="en-GB">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>A minimal valid HTML5 document</title>
  <link href="css/picnic-v6.5.3.min.css" rel="stylesheet" />
  <style>
    :root {
      --accent-colour: cadetblue;
      --background-colour: floralwhite;
    }
    a {
      color: var(--accent-colour);
    }
    body {
      background-color: var(--background-colour);
      max-width: 30em;
      text-align: center;
      margin: auto;
    }
    button {
      background: var(--accent-colour);
    }
    select {
      background-color: var(--background-colour);
    }
    span.line {
      display: inline-block;
    }
    #yoga-people {
      max-width: 90%;
    }
  </style>
  <script src="https://js.stripe.com/v3/"></script>
  <h1>
    <img
      src="images/hello-yoga.png"
      alt="hello YOGA"
      height="165"
      width="230"
    />
  </h1>
  <h3>Thursdays 19:00–20:00</h3>
  <h4 id="beckwith-health-club">
    <span class="line">Beckwith Health Club,</span>
    <span class="line">Harrogate,</span>
    <span class="line">HG3 1UF</span>
  </h4>
  <p id="yoga-action">
    Strengthen body, increase flexibility
    <span class="line">and calm the mind.</span>
    <br />
    <span class="line">Small friendly classes.</span>
    <span class="line">Suitable for all abilities.</span>
  </p>

  <!--<select class="two-third">
    {% for day in thursdays %}
    <option value="{{ day.value }}" {{ day.selected }}>
      {{ day.name }}
    </option>
    {% endfor %}
  </select>
  <button id="checkout-button">Book Your Place</button>-->

  <form id="eventDateForm">
    <select class="two-third" name="eventDate">
      {% for day in thursdays %}
      <option value="{{ day.value }}" {{ day.selected }}>
        {{ day.value | friendlyDate }}
      </option>
      {% endfor %}
    </select>
    <button id="checkout-button">Book Your Place</button>
  </form>
  <script>
    var form = document.getElementById("eventDateForm");
    form.addEventListener("submit", async function (event) {
      event.preventDefault();
      fetch("api/create-checkout-session", {
        method: "POST",
        body: new URLSearchParams(new FormData(form)),
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>

  <p id="offer">£8 per class.</p>
  <p>
    For more information,
    <span class="line"
      >email
      <a href="mailto:clare@hello-yoga.co.uk">clare@hello-yoga.co.uk</a>
    </span>
    <span class="line"
      >or visit the
      <a href="https://facebook.com/helloyogaharrogate"
        >hello YOGA Facebook page</a
      >.
    </span>
  </p>
  <p>
    <img
      src="images/yoga-people.svg"
      id="yoga-people"
      alt=""
      height="247"
      width="433"
    />
  </p>
  <!-- <script>
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{ environment.stripePublishableKey }}");
    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {
      // Create a new Checkout Session using the server-side endpoint you
      // created in step 3.
      fetch("api/create-checkout-session", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ mike: "2020-09-17" }),
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script> -->
</html>
