---
layout: layout.njk
---

<h2>Book your place</h2>
{% for day in thursdays %}
<h4>{{ day.value | friendlyDate }}</h4>
<p>7pm–8pm <button>Book</button></p>
<p>Beckwith Health Club, Harrogate. HG3 1UF</p>
<hr />
{% endfor %} {% for day in thursdays %}
<h4>{{ day.value | friendlyDate }}</h4>
<p>7pm–8pm <button>Book</button></p>
<p>Beckwith Health Club, Harrogate. HG3 1UF</p>
<hr />
{% endfor %}
<form id="eventDateForm">
  <select name="eventDate">
    {% for day in thursdays %}
    <option value="{{ day.value }}" {{ day.selected }}>
      {{ day.value | friendlyDate }}
    </option>
    {% endfor %}
  </select>
  <button id="checkout-button">Book Your Place</button>
</form>
<script defer src="https://js.stripe.com/v3/"></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    const stripe = Stripe("{{ environment.stripePublishableKey }}");
    const form = document.getElementById("eventDateForm");
    form.addEventListener("submit", async function (event) {
      event.preventDefault();
      fetch("/api/create-checkout-session", {
        method: "POST",
        body: new URLSearchParams(new FormData(form)),
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  });
</script>
