---
layout: layout.njk
---

<h2>Book your place</h2>

{% for day in eventsByDate %}
<h3 class="">{{ day.date | dayOfWeekAndDate }}</h3>
{% for e in day.events %}
<button
  class="book-event"
  name="eventId"
  value="{{ e.eventId }}"
  id="{{ e.eventId }}"
>
  <span class="font-bold inline-block text-left tracking-tigher w-32">
    {{ e.startDate | timeRange(e.endDate) }}</span
  >
  <span class="inline-block text-left w-48 tiny:text-xs tiny:w-32"
    >{{ places[e.placeId].name }}</span
  >
</button>
{% endfor %} {% endfor %}

<script defer src="https://js.stripe.com/v3/"></script>
<script>
  let stripe = null;

  window.addEventListener("DOMContentLoaded", function () {
    stripe = Stripe("{{ environment.stripePublishableKey }}");
    const bookButtons = document.getElementsByClassName("book-event");
    for (let b of bookButtons) {
      b.addEventListener("click", sendToStripe.bind(this));
    }
  });

  window.addEventListener("load", function () {
    const bookButtons = document.getElementsByClassName("book-event");
    for (let button of bookButtons) {
      getStripeSessionId(button);
    }
  });

  function showLoadingAnimation(bookButton) {
    bookButton.classList.add("loading");
    setTimeout(
      function (bookButton) {
        bookButton.classList.remove("loading");
      }.bind(null, bookButton),
      5000
    );
  }

  async function getStripeSessionId(bookButton) {
    if (!bookButton.dataset.stripeSessionId) {
      const response = await fetch("/api/create-checkout-session", {
        method: "POST",
        body: bookButton.value,
      });
      const json = await response.json();
      bookButton.dataset.stripeSessionId = json.id;
    }
    return bookButton.dataset.stripeSessionId;
  }

  function sendToStripe(clickEvent) {
    const bookButton = clickEvent.currentTarget;
    showLoadingAnimation(bookButton);
    getStripeSessionId(bookButton)
      .then(function (sessionId) {
        stripe.redirectToCheckout({
          sessionId: sessionId,
        });
      })
      .then(function (result) {
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  }
</script>
