---
layout: layout.njk
pagination:
  data: thursdays
  size: 1
  alias: thursday
permalink: "success/{{ thursday.value | slug }}/"
---

<h2>Booked</h2>
<p>
  Well done you booked {{ thursday.value }} {{ thursday.value | friendlyDate }}
</p>
