---
layout: layout.njk
pagination:
  data: events
  size: 1
  alias: event
permalink: "success/{{ event.eventId | slug }}/"
---

<h2>Booked</h2>
<p>Well done you booked {{ event.eventId | slug }}</p>
