---
layout: layout2.njk
logoWidth: 300
---

<h2>Book your place</h2>
<form id="eventDateForm">
  {% for day in events %}
  <h3 class="">{{ day.date | dayOfWeekAndDate }}</h3>
  {% for e in day.events %}
  <button
    class="book-event"
    name="eventId"
    value="{{ e.eventId }}"
    id="{{ e.eventId }}"
    ontouchstart=""
  >
    <span class="font-bold inline-block text-left tracking-tigher w-32">
      {{ e.startDate | timeRange(e.endDate) }}</span
    >
    <span class="inline-block text-left w-48 tiny:text-xs tiny:w-32"
      >{{ places[e.placeId].name }}</span
    >
  </button>
  {% endfor %} {% endfor %}
</form>
<script defer src="https://js.stripe.com/v3/"></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    const bookButtons = document.getElementsByClassName("book-event");
    for (let b of bookButtons) {
      b.addEventListener("click", sendToStripe.bind(this));
    }
  });

  //window.addEventListener("beforeunload", (event) => {
  //  const bookButtons = document.getElementsByClassName("book-event");
  //  for (let b of bookButtons) {
  //    b.disabled = false;
  //  }
  //});

  async function sendToStripe(event) {
    // console.log(event.currentTarget.id);
    event.currentTarget.disabled = true;
    event.currentTarget.innerHTML = "Booking…";
    event.preventDefault();
    const stripe = Stripe("{{ environment.stripePublishableKey }}");
    fetch("/api/create-checkout-session", {
      method: "POST",
      body: event.currentTarget.id,
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        document.getElementById(session.eventId).disabled = false;
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using `error.message`.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  }
</script>
