<!DOCTYPE html>
<html lang="en-GB">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    {% include "./css/output.css" %}
  </style>
  <title>Testing Tailwind</title>
  <article class="prose">
    <h1 class="">I am a heading</h1>
    <p class="">
      I’m the content.
      <button class="button">I'm a button</button>
    </p>
    <ul>
      <li>
        Installed tailwindcss with
        <kbd>npm install --save-dev tailwindcss</kbd>
      </li>
      <li>Created a config file with <kbd>npx tailwindcss init</kbd></li>
      <li>Updated config to enable future modes</li>
      <li>
        Created <code>style.css</code> import tailwind and define a class for
        the button
      </li>
      <li>
        At this point we have to generate our output css file manually using
        <kbd>npx tailwindcss build ./css/style.css -o ./css/output.css</kbd>.
      </li>
      <li>
        Installed the typography plugin with
        <kbd>npm install --save-dev @tailwindcss/typography</kbd> and updated
        <code>tailwind.config.js</code>
      </li>
    </ul>
  </article>
</html>
