---
layout: layout2.njk
logoWidth: 300
---

<h2>Book your place</h2>
{% for day in events %}
<h3 class="">{{ day.date | dayOfWeekAndDate }}</h3>

{% for e in day.events %}
<button
  class="bg-darkslateblue mt-3 p-3 rounded text-center w-full hover:bg-liberty"
>
  <span class="font-bold inline-block text-left tracking-tigher w-32"
    >{{ e.startDate | timeRange(e.endDate) }}</span
  >
  <span class="inline-block text-left w-48 tiny:text-xs tiny:w-32"
    >{{ places[e.placeId].name }}</span
  >
</button>
{% endfor %} {% endfor %}
