---
logoWidth: 224
---

<!DOCTYPE html>
<html lang="en-GB" class="bg-spacecadet">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preload" href="https://js.stripe.com/v3/" as="script" />
  <link
    rel="preload"
    href="/images/hello-yoga-{{ logoWidth }}-blue-on-transparent.png"
    as="image"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/icon-32-blue-on-transparent.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/images/icon-16-blue-on-transparent.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/images/icon-180-blue-on-transparent.png"
  />
  <title>hello YOGA</title>
  <style>
    {% include "../_tmp/style.css" %}
  </style>
  <div class="md:flex md:flex-column md:min-h-screen">
    <header class="bg-cultured md:pt-56">
      <h1>
        <a href="/">
          <img
            src="/images/yoga.svg"
            width="{{ logoWidth }}"
            height="{{ logoWidth }}"
            class="h-56 object-scale-down px-20 w-full"
            alt="hello YOGA"
          />
        </a>
      </h1>
    </header>
    <div class="flex justify-center">
      <main class="m-3 prose pb-20">{{ content | safe }}</main>
    </div>
  </div>
</html>
