<!DOCTYPE html>
<html lang="en-GB">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>hello YOGA</title>
  <style>
    :root {
      --blue: #323158;
      --gray: #f1f1f1;
    }

    body {
      margin: 0;
      background-color: var(--blue);
      color: white;
      font-family: ui-sans-serif, sans-serif;
      line-height: 1.5;
    }

    #layout {
      display: flex;
      flex-direction: column;
    }

    header {
      background-color: var(--gray);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    main {
      margin: 0 0.5em;
    }

    #main {
      max-width: 30em;
      margin: 0 auto;
    }

    @media (min-width: 800px) and (orientation: landscape) {
      #layout {
        flex-direction: row;
        height: 100vh;
      }

      header {
        flex: 1;
        max-width: 500px;
      }

      main {
        flex: 1;
        display: flex;
        align-items: center;
      }

      #main {
        margin: 0 1.5em;
      }
    }
  </style>
  <div id="layout">
    <header>
      <h1>
        <img
          src="/images/hello-yoga-300-blue-on-transparent.png"
          alt="hello YOGA"
          width="800"
          height="800"
          style="max-width: 60%; max-height: 75vh; width: auto; height: auto"
        />
      </h1>
    </header>
    <main>
      <div id="main">
        {{ content | safe }}
      </div>
    </main>
  </div>
</html>
