<!DOCTYPE html>
<html lang="en-GB">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/icon-32-blue-on-transparent.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/images/icon-16-blue-on-transparent.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/images/icon-180-blue-on-transparent.png"
  />
  <title>hello YOGA</title>
  <style>
    :root {
      --blue: #323158;
      --gray: #f1f1f1;
    }

    body {
      margin: 0;
      background-color: var(--blue);
      color: white;
      font-family: ui-sans-serif, sans-serif;
      line-height: 1.5;
    }

    #layout {
      display: flex;
      flex-direction: column;
    }

    header {
      background-color: var(--gray);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 50vh;
    }

    main {
      margin: 0 0.5em;
    }

    #main {
      max-width: 30em;
      margin: 0 auto;
    }

    #logo {
      overflow: hidden;
      height: 0;
      padding-top: 50%;
      background: url(/images/hello-yoga-300-blue-on-transparent.png);
      width: 60%;
      max-width: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (min-width: 800px) and (orientation: landscape) {
      #layout {
        flex-direction: row;
        height: 100vh;
      }

      header {
        flex: 1;
        max-width: 500px;
        max-height: 100vh;
      }

      main {
        flex: 1;
        display: flex;
        align-items: center;
      }

      #main {
        margin: 0 1.5em;
      }
    }
  </style>
  <div id="layout">
    <header>
      <h1 id="logo">hello YOGA</h1>
    </header>
    <main>
      <div id="main">
        {{ content | safe }}
      </div>
    </main>
  </div>
</html>
